/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--ft-family);
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-content: space-around;
  align-items: start;
  padding: 20px;
  margin-block-end: 60px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--title-color);
  font-weight: 400;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background: none;
  border: none;
  padding: 0 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--title-color);
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--header-color);
  text-shadow: 4px 4px 0px #FF0070;
  line-height: 82.5%;
  font-weight: 700;
  margin-inline-start: -20px;
}

.header__text {
  max-width: 491px;
  width: 100%;
  align-self: center;
  justify-self: end;
  line-height: 130%;
}

.header__paragraph {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: var(--caption-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.header::before ,
.footer::before
{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 20px;
  right: 20px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: var(--decorative-element);
}

.header::after ,
.footer::after
{
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
  border-style: solid;
  border-width: 0 0 1px 1px;
  border-color: var(--decorative-element);
}

.pseudo__element::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 29px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decorative-element);
  box-shadow: 0 0 4px 2px var(--decorative-element);;
}

.decorative__word {
  position: absolute;
  top: 20px;
  right: 48px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 138%;
  font-family: var(--ft-family);
  font-weight: 400;
  color: var(--decorative-element);
}

.decorative__word::before {
  content: 'REC';
}

.content {
  padding: 0 20px;
}

.content__start {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-block-end: 58px;
}

.title__start {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.title-content__start {
  color: var(--caption-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-end: 10px;
}

.content__start-text {
  color: var(--text-color);
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  margin-block-end: 20px;
}

.last__paragraph {
  margin-block-end: 0px;
}

.content__middle {
  margin-block-end: 80px;
}

 .block-content__middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
 }

.title__middle {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-end: 20px;
  white-space: pre-line;
}

.content__last {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-block-end: 80px;
}

.top-title__last {
  color: var(--caption-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-block-end: 20px;
}

.title-content__last {
  color: var(--caption-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-block-end: 10px;
}

.content__image {
  margin-block-end: 60px;
}

.block__image {
  display: grid;
  grid-template-areas: 
    'sunset sunset ice-cream'
    'tape books ice-cream'
    'tape street street'
    'tape street street';
  gap: 20px;
}

.title__image {
    color: var(--caption-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    margin-block-end: 20px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sunset__image {
  grid-area: sunset;
}

.ice-cream__image {
  grid-area: ice-cream;
}

.books__image {
  grid-area: books;
}

.tape__image {
  grid-area: tape;
}

.street__image {
  grid-area: street;
}

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--header-color);
  text-shadow: 2px 1px 0px #FF0070;
  line-height: 82.5%;
  font-weight: 700;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--ui-kit);
  cursor: pointer;
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text__link:hover {
  color: var(--text-color);
  border-block-end: 1px solid;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid;
}

.text__link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color);
}

@media (max-width: 412px) and (orientation: portrait) {
  .header__theme-menu {
    display: grid;
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }

  .header {
    padding: 10px;
    margin-block-end: 40px;
  }

  .header__title {
    margin-inline-start: 0px;
    font-size: clamp(7.25rem, 7.25rem + 0vw, 7.25rem);
  }

  .header__text {
    max-width: 355px;
    width: 100%;
  }

  .header::before ,
  .footer::before
  {
    top: 10px;
    right: 10px;
  }
  
  .header::after ,
  .footer::after
  {
    bottom: 10px;
    left: 10px;
  }

  .decorative__word {
    top: 10px;
    right: 38px;
  }

  .pseudo__element::before {
    top: 18px;
    right: 19px;
  }

  .content {
    padding: 0 10px;
  }

  .content__start {
    grid-template-columns: none;
    margin-block-end: 28px;
  }

  .title__start {
    margin-block-end: 10px;
  }

  .content__middle {
    margin-block-end: 50px;
  }

  .block-content__middle {
    grid-template-columns: none;
    gap: 0px;
  }

  .content__last {
    grid-template-columns: none;
    margin-block-end: 50px;
  }

  .content__image {
    margin-block-end: 37px;
  }

  .block__image {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  .title__image {
    margin-block-end: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.25rem + 0vw, 7.25rem)
  }
}

@media (max-width: 768px) and (orientation: portrait) and (min-width: 412px) {
  .header__theme-menu {
    display: grid;
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }

  .header__text {
    max-width: 364px;
    width: 100%;
  }

  .content__start {
    gap: 20px;
  }

  .block-content__middle {
    grid-template-columns: none;
    gap: 0px;
  }

  .title__middle {
    max-width: 236px;
    width: 100%;
  }

  .content__last {
    gap: 20px;
  }
}

